/* BPNT HOME PAGE CSS */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* All */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/* Body */

body {
    background: #ff9d00;
    overflow-x: hidden; /* Block and hide horizontal scrollbar */
}

/* Hr */

.hr1 {
    border: solid #fff 0.3rem;
}

.hr2 {
    border: solid #000 0.3rem;
}

/* Header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 9.375%;
    background: transparent;
    backdrop-filter: blur(1.5rem);
    transition: .3s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

/* Logo */

.logo img {
    width: 2.5rem;
    transition: .3s ease;
}

.logo a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: .3s ease;
}

.logo a b {
    font-size: 1.3rem;
    transition: .3s ease;
}

.logo a:hover b {
    color: #ff4800;
    text-shadow: 0.032rem 0.032rem 0.065rem #000;
}

/* Navbar */

.navbar {
    transform: translateY(25%);
    transition: .3s ease;
}

.navbar a {
    position: relative;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    transition: .3s ease;
}

.navbar a:hover {
    color: #ff4800;
    text-shadow: 0.032rem 0.032rem 0.065rem #000;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 100%;
    height: 0.15rem;
    background: #ff4800;
    box-shadow: 0.032rem 0.032rem 0.065rem #000;
    border-radius: 0.24rem;
    transform: translateY(0.63rem);
    opacity: 0;
    transition: .3s ease;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

/* Search, Search Icon and Icon2 */

#search-bar {
    width: 11.75rem;
    height: 2.11rem;
    background: transparent;
    border: 0.11rem solid #fff;
    border-radius: 0.28rem;
    display: flex;
    align-items: center;
    transform: translateY(20%);
    transition: .3s ease;
}

#search-bar:valid {
    border: 0.11rem solid #ff4800;
    box-shadow: 0.032rem 0.032rem 0.065rem #000;
}

#search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.81rem;
    padding-left: 0.5rem;
    transition: .3s ease;
}

#search-bar input, #search-bar input::placeholder {
    color: #fff;
    font-weight: 600;
    transition: .3s ease;
}

#search-bar button {
    width: 1.9rem;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}

#search-bar button i {
    color: #fff;
    font-size: 1.1rem;
    transition: .3s ease;
}

#search-bar button:hover i {
    color: #ff4800;
    text-shadow: 0.032rem 0.032rem 0.065rem #000;
}

#icon2 {
    color: #fff;
    font-size: 1.9rem;
    cursor: pointer;
    transform: translateY(5%);
    transition: .3s ease;
}

#icon2:hover {
    color: #ff4800;
    text-shadow: 0.032rem 0.032rem 0.065rem #000;
}

.icons {
    display: flex;
    gap: 0.75rem;
    transition: .3s ease;
}

/* Results Container */

#results {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    box-shadow: 0 0.13rem 0.63rem rgba(0, 0, 0, 0.2);
    max-width: 50rem;
    position: fixed;
    top: 6.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
    transition: .3s ease;
}

#results:hover {
    background-color: rgb(255, 255, 255);
}

#results.hidden {
    opacity: 0;
    transform: translateY(-0.625rem); /* Goes up when closed */
    pointer-events: none;
}

/* Results Close Button */

#close-results {
    color: #000;
    font-size: 2.25rem;
    transition: .3s ease;
}

#close-results:hover {
    color: #ff4800;
    font-size: 2.45rem;
}

/* Result Item Styles */

#results h3 {
    margin: 0 0 0.625rem;
    color: #ff4800;
    transition: .3s ease;
}

#results p {
    margin: 0.31rem 0;
    line-height: 1.6;
    transition: .3s ease;
}

mark {
    background-color: #39aa97;
    color: #fff;
    padding: 0 0.125rem;
    border-radius: 0.25rem;
    transition: .3s ease;
}

#results h3 a {
    color: #000;
    transition: .3s ease;
}

#results h3 a:hover {
    color: #ff4800;
    font-size: 103%;
}

/* Menu */

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 18.75rem;
    height: 100%;
    background: #fff;
    box-shadow: -0.125rem 0 0.31rem rgba(0,0,0,0.5);
    transition: right 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 200;
    padding-top: 5rem;
}

/* Menu Close Icon */

#menu-close-icon {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    cursor: pointer;
    font-size: 2.5rem;
    transition: .3s ease;
}

#menu-close-icon:hover {
    color: #ff4800;
}

/* Menu Search */

#menu-search-bar {
    width: 80%;
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
    transition: .3s ease;
}

#menu-search-text {
    width: 100%;
    padding: 0.5rem;
    font-weight: 600;
    border: 0.065rem solid #000;
    border-radius: 0.25rem 0 0 0.25rem;
    outline: none;
    transition: .3s ease;
}

#menu-search-btn {
    height: 100%;
    padding: 0.5rem;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    transition: .3s ease;
}

#menu-search-btn:hover {
    background: #ff4800;
}

#menu-search-icon {
    font-size: 1.07rem;
    transition: .3s ease;
}

/* Menu Navbar */

.menu-navbar {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 0.95rem;
    transition: .3s ease;
}

.menu-navbar a {
    color: #000;
    text-decoration: none;
    font-size: 1.13rem;
    font-weight: 600;
    margin-bottom: 0.95rem;
    transition: .3s ease;
}

.menu-navbar a:hover {
    color: #ff4800;
}

/* Menu Footer with GitHub Icon */

.menu-footer {
    margin-top: auto;
    padding: 1.25rem;
    text-align: center;
    transition: .3s ease;
}

.menu-footer i {
    font-size: 3rem;
    color: #000;
    transition: .3s ease;
}

.menu-footer i:hover {
    color: #ff4800;
}

/* Title */

.title {
    position: absolute;
    transform: translateY(45%);
    margin-left: 4rem;
    transition: .3s ease;
}

.title h1 {
    color: #fff;
    font-size: 4.4rem;
    text-transform: uppercase;
    transition: .3s ease;
}

.title p {
    color: #ffffff;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding-right: 1rem;
    font-weight: 650;
    transition: .3s ease;
}

/* Button-Link */

.title button {
    color: #fff;
    background-color: #ff4800;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 2.35rem;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: .3s ease;
}

.title button:hover {
    letter-spacing: 0.1rem;
    background-color: #cc3a00;
}

/* Background */

.section {
    min-height: 200vh;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity .5s ease-in-out, transform 1s ease-in-out;
}

.section.loaded {
    opacity: 1;
    transform: scale(1);
}

/* Contents */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1.25rem) scale(1.2);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.content1, .content2, .content3, .content4, .content5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 7.05rem 1.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
    opacity: 0;
    transition: .3s ease;
}

.content1 a, .content2 a, .content3 a, .content4 a, .content5 a {
    color: #0086ff;
    text-decoration: none;
    transition: .3s ease;
}

.content1 a:hover, .content2 a:hover, .content3 a:hover, .content4 a:hover, .content5 a:hover {
    color: #0000ff;
}

.content1 p, .content2 p, .content3 p, .content4 p, .content5 p {
    padding: 4rem;
    text-align: justify;
    transition: .3s ease;
}

/* First Content */

.content1 {
    color: #fff;
    background: #ff4800;
}

/* Second Content */

.content2 {
    color: #fff;
    background: #ff7400;
}

/* Third Content */

.content3 {
    color: #000;
    background: #ffdb00;
}

/* Fourth Content */

.content4 {
    color: #000;
    background: #ffbc00;
}

/* Fifth Content */

.content5 {
    color: #000;
    background: #ffbe55;
}

/* End of the page */

.end {
    padding-top: 11.72rem;
    padding-bottom: 1.5rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    background: #000;
    transition: .3s ease;
}

/* End-Button */

.end button {
    color: #000;
    background-color: #ffffff;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 2.35rem;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: .3s ease;
}

.end button:hover {
    letter-spacing: 0.1rem;
    color: #fff;
    background-color: #ff4800;
}

/* End-Logo */

.end img {
    width: 3rem;
    transition: .3s ease;
}

.end a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

.end a b {
    font-size: 1.2rem;
}

.end a:hover b {
    color: #ff4800;
    text-shadow: 0.032rem 0.032rem 0.065rem #000;
}

.end a:hover img {
    content: url('Svg/BPNT-Alaranjado.svg');
}

/* End-Nav */

.end-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 7.5rem;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    transition: .3s ease;
}

.navbar-end {
    transform: translateY(20%);
}

.navbar-end a {
    position: relative;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    transition: .3s ease;
}

.navbar-end a:hover {
    color: #ff4800;
    text-shadow: 0.032rem 0.032rem 0.065rem #000;
}

.navbar-end a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 100%;
    height: 0.15rem;
    background: #ff4800;
    box-shadow: 0.032rem 0.032rem 0.065rem #000;
    border-radius: 0.24rem;
    transform: translateY(0.63rem);
    opacity: 0;
    transition: .3s ease;
}

.navbar-end a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

/* Media for other devices or screens */

/* For tablet screens */

@media (min-width: 768px) and (max-width: 1024px) {
    /* Header */
    
    #header {
        padding: 0.8rem 9.375%;
    }
    
    /* Logo */
    
    .logo img {
        width: 2.3rem;
    }
    
    .logo a b {
        font-size: 1.2rem;
    }
    
    /* Navbar */
    
    .navbar a {
        visibility: hidden;
        font-size: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar a::after {
        visibility: hidden;
    }
    
    /* Search, Search Icon and Icon2 */
    
    #search-bar {
        width: 10.55rem;
    }

    /* Results Container */
    
    #results {
        top: 5rem;
    }

    /* Title */
    
    .title {
        transform: translateY(40%);
    }
    
    .title h1 {
        font-size: 4rem;
    }
    
    /* Button-Link */
    
    .title button {
        font-size: 1.6rem;
    }

    /* Contents */
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(1.25rem) scale(1.1);
        }
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }
    
    .content1, .content2, .content3, .content4, .content5 {
        padding: 5.05rem 1rem;
        font-size: 1.4rem;
    }
    
    .content1 p, .content2 p, .content3 p, .content4 p, .content5 p {
        padding: 2rem;
    }
    
    /* End of the page */
    
    .end {
        font-size: 1.4rem;
    }
    
    /* End-Button */
    
    .end button {
        font-size: 1.6rem;
    }
}

/* For smartphone screens */

@media (max-width: 768px) {
    /* Header */
    
    #header {
        padding: 0.8rem 9.375%;
    }
    
    /* Logo */
    
    .logo img {
        width: 2.3rem;
    }
    
    .logo a b {
        font-size: 1.2rem;
    }
    
    /* Navbar */

    .navbar a {
        visibility: hidden;
        font-size: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar a::after {
        visibility: hidden;
    }
    
    /* Search, Search Icon and Icon2 */
    
    #search-bar {
        width: 10.55rem;
    }

    /* Results Container */
    
    #results {
        top: 5rem;
    }
    
    /* Title */
    
    .title {
        transform: translateY(40%);
        margin-left: 2.5rem;
    }
    
    .title h1 {
        font-size: 3.2rem;
    }

    .title p {
        font-size: 1.1rem;
    }    
    
    /* Button-Link */
    
    .title button {
        font-size: 1.6rem;
    }

    /* Contents */
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(1.25rem) scale(1.05);
        }
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }
    
    .content1, .content2, .content3, .content4, .content5 {
        padding: 5.05rem 1rem;
        font-size: 1.4rem;
    }
    
    .content1 p, .content2 p, .content3 p, .content4 p, .content5 p {
        padding: 1.5rem;
    }
    
    /* End of the page */
    
    .end {
        font-size: 1.4rem;
    }
    
    /* End-Button */
    
    .end button {
        font-size: 1.6rem;
    }

    /* End-Logo */

    .end img {
        width: 2.8rem;
    }

    .end a b {
        font-size: 1.1rem;
    }

    /* End-Nav */

    .navbar-end a {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* For smaller smartphone screens */

@media (max-width: 480px) {
    /* Header */
    
    #header {
        padding: 0.8rem 9.375%;
    }
    
    /* Logo */
    
    .logo img {
        width: 2.3rem;
    }
    
    .logo a b {
        font-size: 1.2rem;
    }
    
    /* Navbar */

    .navbar a {
        visibility: hidden;
        font-size: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar a::after {
        visibility: hidden;
    }
    
    /* Navbar */

    .navbar a {
        visibility: hidden;
        font-size: 0;
        margin-left: 0;
        margin-right: 0;
    }

    /* Search, Search Icon and Icon2 */

    #search-bar {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    #search-bar input {
        width: 0;
        font-size: 0;
        padding-left: 0;
    }

    #search-bar button {
        width: 0;
    }

    #search-bar button i {
        font-size: 0;
    }

    /* Results Container */
    
    #results {
        top: 5rem;
    }
    
    /* Title */
    
    .title {
        transform: translateY(25%);
        margin-left: 2.5rem;
    }
    
    .title h1 {
        font-size: 3.2rem;
    }

    .title p {
        font-size: 1.1rem;
    }    
    
    /* Button-Link */
    
    .title button {
        font-size: 1.6rem;
    }

    /* Contents */
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(1.25rem) scale(1.05);
        }
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }
    
    .content1, .content2, .content3, .content4, .content5 {
        padding: 5.05rem 1rem;
        font-size: 1.4rem;
    }
    
    .content1 p, .content2 p, .content3 p, .content4 p, .content5 p {
        padding: 1rem;
    }
    
    /* End of the page */
    
    .end {
        font-size: 1.4rem;
    }
    
    /* End-Button */
    
    .end button {
        font-size: 1.5rem;
    }

    /* End-Logo */

    .end img {
        width: 3.8rem;
    }

    .end a b {
        font-size: 1.5rem;
    }

    /* End-Nav */

    .end-nav {
        justify-content: center;
    }

    .navbar-end a {
        visibility: hidden;
        font-size: 0;
        margin-left: 0;
        margin-right: 0;
    }
}